<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064225457298-n0vm79trajpcjfogi5kpei7sg31cqdr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064225457298-n0vm79trajpcjfogi5kpei7sg31cqdr0</string>
	<key>API_KEY</key>
	<string>AIzaSyDRF4b2d_EV7_-rqkKJgaErdBQsYD339Fo</string>
	<key>GCM_SENDER_ID</key>
	<string>1064225457298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppinglist</string>
	<key>PROJECT_ID</key>
	<string>shoplist-b9eab</string>
	<key>STORAGE_BUCKET</key>
	<string>shoplist-b9eab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064225457298:ios:d810c7812c2ba9ace8524b</string>
</dict>
</plist>